/* streetfighter css file */

body {
    background-color: black;
}

.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}

.ryu {
    float: left;
    width: 659px;
    height: 494px;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
    float: left;
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing {
    background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cool {
    background-image: url("../images/ryu-cool.gif");
}
.hadouken, .ryu-still, .ryu-ready, .ryu-throwing {
    background-repeat: no-repeat;
}

.hadouken {
    background-image: url("../images/hadouken.gif");
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    top: 176px;
    left: 540px;
}

.instruct-text {
    font-family: 'Rock Salt', cursive;
    font-weight: 600;
    display: block;
    width: 600px;
    height: 400px;
    text-align: left;
    position: absolute;
    padding-top: 75px;
    left: 650px;
}

.instruct-text p {
    font-size: 20px;
    width: 350px;
}

.instruct-text p:nth-child(2) {
    margin-left: 150px;
}

/* * {
    outline: red 1px solid;
} */